
.mydiv{
  background-color:#43A4DC;
  position:absolute;
}
.line .arrow {
  top: -5px;
  height: 0px;
  width: 0px;
  position: absolute;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  background-clip: border-box;
}
.line .arrow-fw {
  border-right: 12px solid red;
}

.line .arrow-bw {
  left: 100%;
  border-left: 12px solid red;
  transform: translateX(-12px);
}

.line .text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.line {
  position:absolute;
  height:2px;
  
  background-color: red;
}

